<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>HTML Template</title>

	<!-- Google font -->
<link href="https://fonts.googleapis.com/css?family=Cuprum:700|Kanit" rel="stylesheet">


	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
<%= javascript_include_tag('main.js') %>
<%= javascript_include_tag('jquery.js') %>
<%= javascript_include_tag('html5lightbox.js') %>





</head>

<body>
	<!-- Header -->
 
	<header id="home">
  	<div class="row">
			<div class='head-conatiner'>
		<!-- Background Image -->
	
    <div class= "bg-img">
		</div>

		<!-- /Background Image -->

<%# test %>

<%#  test %>

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="#home">
              <%= image_tag('Sagebin.png', :class => "logo", :size => '75x75') %>
              <%= image_tag('Sagebin-white.png', :class => "logo-alt", :size => '80x80') %>
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse ">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="#about" >About</a></li>				
					<li><a href="#pricing" >Prices</a></li>					
					<li><a href="https://www.sagebin.com/">Login</a></li>
				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->

		<!-- home wrapper -->
		<div class="home-wrapper">
			<div class="container">
				<div class="row">

					<!-- home content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							<h1 class="white-text">Sagebin</h1>
							<p class="white-text-sub">All your movies. Anywhere you are. All the time.
							</p>
							<a class="white-btn" href="https://www.sagebin.com/membership-account/membership-levels/">SignUp!</button>
					<a class="main-btn" href="JavaScript:html5Lightbox.showLightbox(3, 'https://www.youtube.com/watch?v=agFPu8nxaic', 'YouTube lightbox');">Learn More</a>
						</div>
					</div>
					<!-- /home content -->

				</div>
			</div>
		</div>
		<!-- /home wrapper -->
		</div>
	</div>
	</header>
 
	<!-- /Header -->

	<!-- About -->
	<div id="about" class="section md-padding">
	

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">How It Works</h2>
				</div>
				<!-- /Section header -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-archive"></i>
						<h3>We Send You A Box</h3>
						<p>We'll send you a box with DVD spindles and instructions, so you can set your DVD's free!</p>
						
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-dot-circle-o"></i>
						<h3>Send In Your Discs</h3>
						<p>No more scratched up DVD's or messy entertainment center. Everything in the cloud.</p>
					
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-mobile"></i>
						<h3>Watch Anywhere</h3>
						<p>Watch anywhere you have a connection, and cache for offline viewing when you don't.</p>
						
					</div>
				</div>
				<!-- /about -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /About -->

	<!-- Pricing -->
	<div id="pricing" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">
			<div class= "bg-img">
		</div>

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="p-title">Membership</h2>
				</div>
				<!-- /Section header -->

				<!-- pricing -->
				<div class="col-sm-4">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title">Sagebin Free</span>
							<div class="price">
								<h3>Free<span class="duration"></span></h3>
							</div>
						</div>
						<ul class="price-content">
							<li>
								<p>4 borrows/month</p>
							</li>
							<li>
						<p> - </p>
							</li>
							<li>
								<p> - </p>
							</li>
						</ul>
						<div class="price-btn">
								<a class="outline-btn" href="https://www.sagebin.com/membership-account/membership-checkout/?level=9">Purchase now</a>
						</div>
					</div>
				</div>
				<!-- /pricing -->

				<!-- pricing -->
				<div class="col-sm-4">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title">Sagebin Borrower</span>
							<div class="price">
								<h3>$5<span class="duration">/ month</span></h3>
							</div>
						</div>
						<ul class="price-content">
							<li>
								<p>Unlimited Borrows</p>
							</li>
							<li>
								<p>-</p>
							</li>
							<li>
								<p>-</p>
							</li>
						</ul>
						<div class="price-btn">
								<a class="outline-btn" href="https://www.sagebin.com/membership-account/membership-checkout/?level=10">Purchase now</a>
						</div>
					</div>
				</div>
				<!-- /pricing -->

				<!-- pricing -->
				<div class="col-sm-4">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title">Sagebin Member</span>
							<div class="price">
								<h3>$10<span class="duration">/ month</span></h3>
							</div>
						</div>
						<ul class="price-content">
							<li>
								<p>Unlimited Borrows</p>
							</li>
							<li>
								<p>Unlimited Movie Storage</p>
							</li>
							<li>
								<p>$5 credit p/m</p>
							</li>
						</ul>
						<div class="price-btn">
							<a class="outline-btn" href="https://www.sagebin.com/membership-account/membership-checkout/?level=1">Purchase now</a>
						</div>
					</div>
				</div>
				<!-- /pricing -->
				<div class="padding-bot-pricing">
				</div>
			</div>
			<!-- Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Pricing -->



	<!-- Footer -->
	<footer id="footer" class="sm-padding bg-dark">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<div class="col-md-12">

					<!-- footer logo -->
					<div class="footer-logo">
						<a href="#home"><%= image_tag('Sagebin-white.png', :class => "logo", :size => '50x50') %></a>
					</div>
					<!-- /footer logo -->

					<!-- footer follow -->
					<ul class="footer-follow">
						<li><a href="https://www.facebook.com/sagebinmovies/?ref=br_rs"><i class="fa fa-facebook"></i></a></li>
						<%# <li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li> %>
						<li><a href="https://www.instagram.com/sagebin_/"><i class="fa fa-instagram"></i></a></li>
						<%# <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube"></i></a></li> %>
					</ul>
					<!-- /footer follow -->

					<!-- footer copyright -->
					<div class="footer-copyright">
						<p>Copyright Sagebin© 2017. All Rights Reserved.</p>
					</div>
					<!-- /footer copyright -->

				</div>

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</footer>
	<!-- /Footer -->

	<!-- Preloader -->
	<div id="preloader">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- /Preloader -->
<script>
	$("#nav .main-nav a[href^='#']").on('click', function (e) {
		e.preventDefault();
		var hash = this.hash;
		$('html, body').animate({
			scrollTop: $(this.hash).offset().top
		}, 1500);
	});

		$("#nav .navbar-brand a[href^='#']").on('click', function (e) {
		e.preventDefault();
		var hash = this.hash;
		$('html, body').animate({
			scrollTop: $(this.hash).offset().top
		}, 1500);
	});

			$("#footer .footer-logo a[href^='#']").on('click', function (e) {
		e.preventDefault();
		var hash = this.hash;
		$('html, body').animate({
			scrollTop: $(this.hash).offset().top
		}, 1500);
	});

		$('#nav .nav-collapse').on('click', function () {
		$('#nav').toggleClass('open');
	});
</script>




</body>

</html>
